*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

html,
body {
  font: 16px Roboto, Noto, Noto sans, sans-serif;
  color: rgba(0, 0, 0, 0.87);
  min-height: 100vh;
  min-width: 100%;
}

#App {
  flex-flow: row nowrap;
  display: flex;
  height: 100vh;
}
#App .editor {
  height: 100vh;
  width: 50%;
}
#App .output {
  word-wrap: break-word;
  white-space: wrap;
  padding: 16px;
  height: 100vh;
  overflow-y: auto;
  width: 50%;
}
#App .output__title {
  margin-bottom: 40px;
}